body {
    height: 100vh;
}

.gameboard-wrapper {
    min-width: 350px;
    min-height: 350px;
    background-color: #363636;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    overflow: hidden;
    border: #363636 1px solid;
}

.tiles {
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}
.tiles:hover {
    transform: scale(1.05);
    background-color: rgb(231, 231, 231);
}

.container {
    display: flex;
    justify-content: center;
}

.game-box {
    visibility: hidden;
    transform: scale(0.001);
}

.game-box-transform {
    transition: 0.8s;
    visibility: visible;
    transform: scale(1);
}

